* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: #f2f4f7;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://www.nicepng.com/png/full/26-266973_image-page-transparent-background-oasis-skin-1-png.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.input-group {
    position: relative;
    margin-bottom: 18px;
}

.input-group input {
    width: 100%;
    padding: 14px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    background: transparent;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 12px;
    color: black;
    font-size: 14px;
    transform: translateY(-50%);
    pointer-events: none;
    padding: 0 4px;
    transition: 0.3s ease;
}

/* when focused or value entered */
.input-group input:focus + label,
.input-group input:valid + label {
    top: -6px;
    font-size: 12px;
    color: black;
}

/* border color on focus */
.input-group input:focus {
    border-color: black;
}
.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-box {
    background: rgba(255, 255, 255, 0.25);
    /* background: white; */
    width: 380px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 10px;
}

.signup-text {
    font-size: 14px;
    margin-bottom: 20px;
}

.signup-text a {
    text-decoration: none;
}

/* input {
width: 100%;
padding: 12px;
margin-bottom: 12px;
border-radius: 6px;
border: 1px solid #ccc;
font-size: 14px;
}

input:focus {
outline: none;
border-color: #1a73e8;
} */

.forgot {
    display: block;
    text-align: right;
    font-size: 13px;
    margin-bottom: 15px;
    text-decoration: none;
    
}

.btn-primary {
    width: 100%;
    padding: 12px;
    background-color : #1a73e8;
    color: black;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

.btn-primary:hover {
    background: #1558b0;
}

.divider {
    margin: 20px 0;
    color: #888;
    font-size: 14px;
}

button[class^="btn-"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: #fff;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-google i,
.btn-facebook,
.btn-apple{
    font-size: 16px;
    color: black;
}

.btn-google:hover,
.btn-facebook:hover,
.btn-apple:hover {
    background: #f5f5f5;
}
.term{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7px;
    font-size: 13px;
    gap: 8px;
}