/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ===== BODY ===== */
body {
    background: #f5f7fb;
    color: #333;
}

/* ===== HEADER ===== */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    background: linear-gradient(135deg, #2563eb, #1e40af);
    color: white;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav a {
    margin: 0 12px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.nav a.active {
    border-bottom: 2px solid white;
}

.auth{
    display: flex;
    gap: 15px;
}
.login-btn {
    background: white;
    color: #1e40af;
    padding: 8px 14px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.login-btn:hover{
    border: 2px solid black;
}

/* ===== MAIN ===== */
.main-content {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

/* ===== POSTS GRID ===== */
.posts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 24px;
}

/* ===== POST CARD ===== */
.post-card {
    background: white;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: transform 0.3s ease;
}

.post-card:hover {
    transform: translateY(-6px);
}

.post-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* ===== POST BODY ===== */
.post-body {
    padding: 16px;
}

.category {
    font-size: 12px;
    color: #2563eb;
    font-weight: bold;
    text-transform: uppercase;
}

.post-body h3 {
margin: 8px 0;
font-size: 18px;
}

.post-body p {
font-size: 14px;
color: #555;
margin-bottom: 12px;
}

/* ===== POST FOOTER ===== */
.post-footer {
display: flex;
justify-content: space-between;
font-size: 12px;
color: #777;
}

/* ===== FOOTER ===== */
.footer {
text-align: center;
padding: 20px;
margin-top: 40px;
color: #666;
}