* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ===== BODY ===== */
body {
    background: #333;
    color: #333;
}

/* ===== HEADER ===== */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    background: linear-gradient(135deg, #2563eb, #1e40af);
    color: white;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav a {
    margin: 0 12px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.nav a.active {
    border-bottom: 2px solid white;
}

.auth{
    display: flex;
    gap: 15px;
}
.login-btn {
    background: white;
    color: #1e40af;
    padding: 8px 14px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.login-btn:hover{
    border: 2px solid black;
}

.userLinks{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.userLinks a{
    background: white;
    color: #1e40af;
    padding: 8px 14px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;

}

/* ===== MAIN ===== */
.main-content {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

/* ===== POSTS GRID ===== */
.posts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 24px;
}



/* ===== POST CARD ===== */
.post-card {
    background: white;
    padding: 10px 10px;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: transform 0.3s ease;
}

.post-card:hover {
    transform: translateY(-6px);
}

.post-image{
    width: 100%;
    max-height: 800px;
    object-fit: cover;
    margin-bottom: 10px;
    border: 5px solid black;
    /* padding: 12px 12px; */
}

.post-card img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    object-fit: cover;
}

/* ===== POST BODY ===== */
.post-body {
    padding: 50px;
    background-color: #ADD7FF;
}


.category {
    font-size: 12px;
    color: #2563eb;
    font-weight: bold;
    text-transform: uppercase;
}

.post-body h2 {
margin: 30px 0px;
font-size: 28px;
}

.post-body p {
font-size: 24px;
color: #555;
margin-bottom: 12px;
}

.post-actions{
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;

}

.post-actions button{
    padding: 2px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.post-actions button:hover{
    background: black;
    color: white;
}

.comments-container{
    margin: 20px 5px;
    padding: 20px 20px;
    border: 2px solid white;
    border-radius: 10px;
    background: #212328;
    height: auto;
    color: white;
    
}
.comments-container h3{
    text-align: center;
    margin-top: 15px;
    font-style: italic;
}
.comments-container p{
    font-size: 12px;
    color: white;
}
.comments-container b{
    font-size: 15px;
}

.comment-input{
    background-color: #212328;
    color: whitesmoke;
    width: 93%;
    border: 1px solid white;
    padding: 4px 4px;
    border-radius: 4px;
}
.comment-inputdiv{
    display: flex;
    justify-content: space-between;
}

.comment-inputdiv button{
    padding: 10px 10px;
    font-size: 15px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid black;
    color: blue;
}
.delete-btn{
    padding: 4px 8px;
    font-size: 15px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid black;
    color: blue;
}
.comments-container button:hover{
    background: black;
    color: whitesmoke;
}

/* ===== POST FOOTER ===== */
.post-footer {
display: flex;
justify-content: space-between;
font-size: 22px;
color: #777;
padding: 30px 50px;
background-color: #ADD7FF;
}

.post-footer button{
    cursor: pointer;
    padding: 5px 15px;
    color: white;
    background-color: black;
    border-radius: 5px;
}

.post-footer button:hover{

    background-color: blue;
}

/* ===== FOOTER ===== */
.footer {
text-align: center;
padding: 20px;
margin-top: 40px;
color: white;
}

@media (max-width: 768px){

    
    .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    gap: 10px;
    background: linear-gradient(135deg, #2563eb, #1e40af);
    color: white;
    }

    
.logo {
    font-size: 12px;
    font-weight: bold;
}

.nav a {
    margin: 0 ;
    text-decoration: none;
    color: white;
    font-size: 8px;
    
}

.nav a.active {
    border-bottom: 2px solid white;
}

.auth{
    display: flex;
    gap: 7px;
}
.login-btn {
    background: white;
    color: #1e40af;
    padding: 4px 5px;
    border-radius: 10px;
    margin: 0;
    text-decoration: none;
    font-weight: bold;
}

.login-btn:hover{
    border: 2px solid black;
}

.userLinks{
    display: flex;
    justify-content: space-between;
    gap: 7px;
}
.userLinks a{
    background: white;
    color: #1e40af;
    padding: 4px 5px;
    border-radius: 10px;
    margin: 0;
    text-decoration: none;
    font-weight: bold;

}

.post-footer{
    gap: 0;
    padding: 10px;
    margin: 0;
    font-size: 9px;
}
.post-footer button{
    padding: 2px 2px;
}

}