html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #242F9B;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}
.logo{
    font-size: 32px;

}

.logo {
    padding: 20px 15px;
    color: black;
    font-size: 25px;
    font-style: italic;
    display: flex;
    justify-content: space-around;
    gap: 35px;
    
}
.logo a{
    margin-top: 6px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-style: initial;
}

.auth{
    padding: 20px 10px;
    color: black;
    font-size: 20px;
    font-style: normal;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.auth a{
    background: #156CE8;
    padding: 8px 14px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s ease;
    border: 2px solid black;
}
.auth a:hover{
    color: black;
border: solid 3px black;

}

.signupbtn{
    cursor: pointer;
    background: #156CE8;
    padding: 8px 15px;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    font-size: 22px;
    transition: all 0.3 ease;
}
.signupbtn:hover{
transform: scale(1.05);
border: solid 3px black;
color: black;
}

.hero-content h1{
    color: whitesmoke;
    font-size: 63px;
}

.hero-content p{
    color: whitesmoke;
    font-size: 18px;
    padding-bottom: 10px;
}
.btn2{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 22px;
    border: 2px solid transparent;
}

.hero-image{
    padding-top: 70px;
    border-radius: 40px;
    border: 5px solid transparent;
}
